<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Chart</title>
    <link rel="stylesheet" href="css/chart.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!--Ionicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
  </head>
  <body>
    <%- include("navbar") -%>
    <div class="container-table">
      <table class="table">
        <tr>
          <th>Icon</th>
          <th>Coin</th>
          <th>Code</th>
          <th>Price</th>
          <th>Current Value</th>
          <th>Gain/Loss</th>
          <th>Mkt Cap</th>
        </tr>
        <%= size %>
        <% for(var i=0;i<size;i++){ %>
        <tr>
          <td><img src="<%=Value1%>" class="coinicon" alt="<%=Value2%>"></td>
          <td><%=Value2%></td>
          <td><%=Value3%></td>
          <td><%=Value4%></td>
          <td><%=Value5%></td>
          <td><%=Value6%></td>
          <td><%=Value7%></td>
        </tr>
        <%}%>
      </table>
    </div>
    <%- include("footer") -%>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
